hr {
  width: 90%;
  border-color: lightgray;
}

.images {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  gap: 20px;
}

.images .card {
  width: 200px;
  aspect-ratio: 1;
  border-radius: 50px;
}
